{{!--errors de añadir notas  --}}
{{#each errors}}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{text}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{/each}}