{{!--  --}}
{{!--  --}}
<div class="card mt-3">
    <div class="card-header bg-dark text-white">
        <h5>Most Popular</h5>
    </div>
    <div class="card-body">
        <div class="row">
            {{#each sidebar.popular}}
            <div class="col-md-4">
                <a href="/image/{{uniqueId}}">
                    <img src="/public/uploads/{{filename}}" class="w-100 h-100 image-thumbnail">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>